/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
    height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
body {
    font: 12px/18px Arial, sans-serif;
    width: 100%;
    height: 100%;
}
.wrapper {
    width:100%;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
.wrapper-content{
    width: 1280px;
    margin: 0 auto;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.wrapper-content:after{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.text-center{
    text-align: center;
}
/* Header
-----------------------------------------------------------------------------*/
.header {
    height: 140px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.header .wrapper-content{
    padding: 50px 55px 0 55px;
}

.logo{
    float: left;
}
.info-email{
    float: right;
    font-size: 17px;
    color: #008bee;
    font-family: "gotham_proregular";
    text-decoration: none;
    margin-top: 22px;
}
.info-email:hover{
    text-decoration: underline;
}
/* Middle
-----------------------------------------------------------------------------*/
.content {
    padding: 0 0 600px;
}
.slogan{
    position: relative;
    background: url("../img/bg-top.jpg") top center no-repeat;
    background-size: 100% 100%;
    text-align: center;
    height: 660px;
    padding-top: 365px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.slogan p{
    line-height: 72px;
    font-family: "gotham_prolight";
    font-size: 60px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 85px;
}
#description{
    text-align: center;
    padding-bottom: 15px;
    padding-top:  98px;
}
#description p{
    font-size: 17px;
    font-family: "gotham_promedium";
    color: #000000;
    background-image: url("../img/p-line.png"), url("../img/p-line.png");
    background-position: top center, bottom center;
    background-repeat: no-repeat, no-repeat;
    padding: 30px 0;
    line-height: 31px;
    width:855px;
    margin: 0 auto;
    margin-bottom: 52px;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
    width: 100%;
    margin: -600px auto 0;
    height: 600px;
    background: #f8f8f8;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 83px;
}
.footer h2{
    font-size: 30px;
    color: #000000;
    font-family: "gotham_proregular";
    text-align: center;
    margin-bottom: 56px;
}
.contact-form{
    width: 750px;
    margin: 0 auto;
    margin-bottom: 74px;
}
.contact-form input[type=text], .contact-form input[type=email]{
    position: relative;
    z-index: 1;
    background: none;
    outline: none;
    border:none;
    background: #ffffff;
    border:1px solid #ebebeb;
    font-family: "gotham_proregular";
    font-size: 15px;
    color: #000000;
    height: 45px;
    width:359px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 18px;
}
.contact-form input[type=text]{
    margin-right: 32px;
}
.contact-form input[type=text]:focus, .contact-form input[type=email]:focus{
    border-color: #008bee;
}
.contact-form fieldset{
    margin-bottom: 30px;
}
.contact-form fieldset:after{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.field{
    position: relative;
    float: left;
}
.field label, .contact-form .textarea label{
    color: #008bee;
    font-size: 13px;
    display: block;
    position: absolute;
    background: none;
    display: block;
    z-index: 2;
    top:-7px;
    left:14px;
    padding: 0 6px;
    font-family: gotham_proregular;
    background: #f8f8f8; /* Old browsers */
    background: -moz-linear-gradient(top,  #f8f8f8 0%, #ffffff 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(50%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f8f8f8 0%,#ffffff 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f8f8f8 0%,#ffffff 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f8f8f8 0%,#ffffff 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #f8f8f8 0%,#ffffff 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    display: none;
}
.contact-form .textarea{
    position: relative;
}
.contact-form textarea{
    background: none;
    outline: none;
    border:none;
    background: #ffffff;
    border:1px solid #ebebeb;
    font-family: "gotham_proregular";
    font-size: 15px;
    color: #000000;
    height: 166px;
    width: 744px;
    resize: none;
    margin-bottom: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 18px;
}
.contact-form textarea:focus{
    border-color: #008bee;
}
.contact-form button{
    background: none;
    border:none;
    outline: none;
    background: #008bee;
    color: #ffffff;
    font-family: "gotham_probold";
    font-size: 17px;
    display: block;
    width:200px;
    height: 50px;
    margin: 0 auto;
    text-transform: uppercase;
    cursor:pointer;
}
.hello-form .empty-field{
    border-color: #981b22 !important;
}
.hello-form .processing {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
#HelloFormMessage {
    margin-bottom: 10px;
    font-family: "gotham_probold";
    font-size: 17px;
    color: #000000;
}
#HelloFormProcessing, #HelloFormMessage {
    display: none;
}
.co{
    text-align: center;
    color: #8c8c8c;
    font-size: 15px;
    font-family: "gotham_proregular";
}
.co a{
    color: #008bee;
    text-decoration: none;
}
.co a:hover{
    text-decoration: underline;
}
/*popup*/
.popup-bg{
    background: rgba(255,255,255,0.45);
    position: fixed;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    display: none;
    z-index: 1;
}
.popup{
    position: fixed;
    z-index: 2;
    left:50%;
    margin-left: -485px;
    top:50%;
    margin-top: -350px;
    width:970px;
    height: 700px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    background: #ffffff;
    display: none;
    font-family: "gotham_proregular";
}
.popup h3{
    padding: 36px 0 25px 30px;
    border-bottom: 1px solid #cccccc;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: #000000;
    font-family: "gotham_proregular";

}
.popup-close{
    position: absolute;
    right:20px;
    top:20px;
    width: 13px;
    height: 13px;
    cursor: pointer;
    background: url("../img/popup-close.png");
}
.policy-description{
    font-size: 15px;
    padding: 20px 30px 20px 30px;
    height: 553px;
    overflow-y: auto;
}
.policy-description p{
    margin-bottom: 16px;
}
.policy-description a{
    color: #000000;
}
.policy-description a:hover{
    text-decoration: none;
}
.policy-description h4{
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: bold;
}